.navbar {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--secondary-color);
}

.navbar-tab {
    width: 100%;
    text-align: center;
    margin: 2% 0;
    border-left: 1px solid var(--primary-color);
    color: var(--greyed-out-color);
}

.navbar-tab:first-child {
    border: 0;
}

.navbar-text {
    display: inline-block;
}

.selected {
    color: var(--primary-color)
}
