.navbar {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--primary-color);
}

.navbar-tab {
    width: 100%;
    text-align: center;
    margin: 2%;
    background-color: var(--secondary-color);
}

.navbar-text {
    display: inline-block;
}