.navbar {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(24, 32, 50);
}

.navbar-tab {
    width: 100%;
    text-align: center;
    margin: 2%;
    background-color: aliceblue;
}

.navbar-text {
    display: inline-block;
}