<div class="navbar">
    <div class="navbar-tab" id="navbar-home" routerLink="/home" routerLinkActive="active">
        <p class="navbar-tab-text">Home</p>
    </div>
    <div class="navbar-tab" id="navbar-history" routerLink="/history" routerLinkActive="active">
        <p class="navbar-tab-text">History</p>
    </div>
    <div class="navbar-tab" id="navbar-customize" routerLink="/customize" routerLinkActive="active">
        <p class="navbar-tab-text">Customize</p>
    </div>
    <div class="navbar-tab" id="navbar-info" routerLink="/info" routerLinkActive="active">
        <p class="navbar-tab-text">Info.</p>
    </div>
</div>